:root{
    --page-green: #32cd32;
    --page-light-green:#f7fff7;
}

body{
    margin:0;
}

.wrapper{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template: 25% 1fr / 13% 1fr;
    grid-template-areas:
    "hd hd" 
    "nv mn"
    "nv mn";
}

header{
    grid-area: hd;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        color: var(--page-green);
        font-size: 400%;
        justify-self: center;
    }
}

.LoggaFit{
    filter: invert(100%);
    height: 100%;
}
.osynlig{
    filter:invert(0%);
    height: 100%;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

nav{
    grid-area: nv;
    background-color: var(--page-light-green);
    display: flex;
    flex-direction: column;
    a{
        font-size: 200%;
        color: var(--page-green);
        margin: 5%;

    }
}

main{
    grid-area: mn;
    background-color:var(--page-green)
}

#in_main{
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;    

}
.in_sec{
    width: 40%;
    height: 45%;
    background-color: var(--page-light-green); /*fix!!, storlek och saker med sektioner i index.html*/
}
.in_sec_pic{
    width: 40%;
    height: 40%;
    background-color: var(--page-light-green);
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    img{
        /*width: 90%;*/
        height: 90%;
    }
}

#cards-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    
}

.cards-sec{
    width: 30%;
    height: 42%;
    background-color: var(--page-light-green);
    /*padding: 10px;*/

    img{
        margin: 10px;
        height: 90%;
    }
}