:root{
    --page-green: #32cd32;
    --page-light-green:#f7fff7;
}
body{
    margin:0;
}
.wrapper{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template: 25% 1fr / 13% 1fr;
    grid-template-areas:
    "hd hd" 
    "nv mn"
    "nv mn";
    background-color: var(--page-light-green);
}
header{
    grid-area: hd;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        color: var(--page-light-green);
        font-size: 400%;
        justify-self: center;
    }
}
.box{
    border-radius: 20px;
}
.LoggaFit{
    filter: invert(100%);
    height: 100%;
}
.osynlig{
    filter:invert(0%);
    height: 100%;
}
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}
.roboto{
  font-family: "Roboto", sans-serif;
  /*font-optical-sizing: auto;*/
  font-weight: 600 /*hemsidan sa nåt mellan 100 och 900*/;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    grid-area: nv;
    background-color: var(--page-light-green);
    display: flex;
    flex-direction: column;
    a{
        font-size: 200%;
        color: black;
        margin: 5%;

    }
}
main{
    grid-area: mn;
    background-color:var(--page-green)
}
#in_main{
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;  
}

.insec{
    width: 45%;
    height: 40%;
}
#in_h{
    text-align: center;
    line-height: 0.01em;

}
.in_sec{
    padding: 10px;
    background-color: var(--page-light-green);
    p{
        font-size: 0.95em;
        font-weight: 500;
    }
}
.pic_lay{
    width: 240px;
}
.pic_stand{
    height: 170px;
}
.in_sec_pic{
    padding: 10px;
    background-color: var(--page-light-green);
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
#cards_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    
}
.cards_sec{
    width: 30%;
    height: 42%;
    background-color: var(--page-light-green);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    p{
        width: 50%;
        font-family: Roboto;
    }
    a{
        color: black;
    }
    a:hover{
        color: var(--page-green);
    }
    #frukost{
        width: 40%;
    }
    #yoga{
        width: 35%;
    }
    img{
        margin: 10px;
        height: 90%;
    }
}
#ab_main{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%; /*fixa för blir fel*/
    grid-template-areas: 
    "as1 art" 
    "as2 art";
    padding: 10px;
}
.ab_as{
    background-color: var(--page-light-green);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#ab_as1{
    grid-area: as1;
    margin:0px 0px 10px 0px;
}
#ab_as2{
    grid-area: as2;
}
#ab_art{
    grid-area: art;
    background-color: var(--page-light-green);
    margin:0px 0px 0px 10px;
    padding: 10px;
    overflow:auto;
}
.ab_p{
    font-size: 1.15em;
}
.ab_pl{
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.2em;
}
.ab_pic{
    width: 70%;
}
#ab_h2{
    line-height: 0.01em;
}