:root{
    --page-green: #32cd32;
    --page-light-green:#f7fff7;
}

body{
    margin:0;
}

.wrapper{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template: 25% 1fr / 13% 1fr;
    grid-template-areas:
    "hd hd" 
    "nv mn"
    "nv mn";
    
}

header{
    grid-area: hd;
    background-color: black;
}
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

nav{
    grid-area: nv;
    background-color: var(--page-light-green);
    display: flex;
    flex-direction: column;
    a{
        font-size: 200%;
        color: black;
        margin: 5%;

    }
}

main{
    grid-area: mn;
    background-color:var(--page-green)
}

#cards-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    
}

.cards-sec{
    width: 30%;
    height: 42%;
    background-color: var(--page-light-green);

    img{
        margin: 10px;
        height: 90%;
    }
}